* {
  color: #303234;
  font-family: "Work Sans", sans-serif;
}

.mainNav {
  background: #fff;
}

.navbar-brand {
  margin: 0;
  width: 150px;
}

.nav-list li {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  color: #303234;
  border-bottom: #ff0000 3px solid;
}

.nav-list li:hover {
  background-color: #ff030364 !important;
}

.nav-list li a {
  text-decoration: none;
  color: #303234 !important;
  font-weight: 600;
}

.nav-list li a:hover {
  font-weight: 600;
  background: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #fff !important;
  border: none;
  border-radius: 0;
  line-height: 1rem !important;
  margin-top: 0.6rem;
  margin-left: -0.6rem;
}

.dropdown-menu li {
  border: none !important;
}

.dropdown-menu li:hover {
  background: none !important;
}

.dropdown-menu li a:hover {
  font-weight: bold;
}

.navbar-toggler-icon {
  color: #ff0000;
}

.services-items .img {
  width: 30%;
}

.services-items img {
  width: 100%;
}

.services-items .text {
  width: 30%;
}

.services-items .text h3 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.services-items .text p {
  font-size: 1.2rem;
}

.influencer-box,
.digitalmarketing-box,
.engagement-box,
.listening-box,
.crisis-box,
.sentiment-box,
.publicrelations-box {
  width: 100%;
}

.digitalmarketing-box,
.engagement-box,
.listening-box {
  flex-direction: row-reverse;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

@media (max-width: 1024px) {
  .services-items .img {
    width: 30%;
  }

  .services-items .text {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .influencer-box,
  .digitalmarketing-box,
  .engagement-box,
  .listening-box,
  .crisis-box,
  .sentiment-box,
  .publicrelations-box {
    flex-direction: column;
  }
  .services-items .img {
    width: 95%;
  }

  .services-items .text {
    width: 95%;
  }
}
